<nav class="sidemenu">
  <ul>
    <li routerLink="/home">
        <img src="/images/logo.png" alt="App Logo" width="40px" />
        <span class="logo">Meu App</span>
    </li>
    <li routerLink="/home"><mat-icon>home</mat-icon> Home</li>
    <li routerLink="/gestao"><mat-icon>person_add</mat-icon> Add User</li>
    <li><mat-icon>home</mat-icon> Home</li>
    <a href="https://firebase.google.com/" target="_blank">
      <li><mat-icon>local_fire_department</mat-icon> Firebase</li>
    </a>
    <a href="https://angular.dev/" target="_blank">
      <li><mat-icon>description</mat-icon> Angular</li>
    </a>
    <li class="logout" routerLink="/login"><mat-icon>logout</mat-icon> Sair</li>
  </ul>
</nav>
